<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Scripting"
            id="monkey">
      </category>
      <view
            name="Scripts Info"
            icon="icons/scripts_info.gif"
            category="monkey"
            class="org.eclipse.eclipsemonkey.ui.views.ScriptsInfoView"
            id="org.eclipse.eclipsemonkey.views.ScriptsInfoView">
      </view>
      <view
            category="monkey"
            class="org.eclipse.eclipsemonkey.ui.views.providers.ScriptsView"
            icon="icons/monkey.gif"
            id="org.eclipse.eclipsemonkey.views.ScriptsView"
            name="Scripts"/>
      <view
            allowMultiple="true"
            category="monkey"
            class="org.eclipse.eclipsemonkey.ui.views.GenericScriptableView"
            icon="icons/web_view.gif"
            id="org.eclipse.eclipsemonkey.ui.scriptableView.GenericScriptableView"
            name="Web View"/>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Eclipse Monkey"
            id="org.eclipse.eclipsemonkey">
      </category>
      <command
            name="Add Eclipse Monkey Nature"
            categoryId="org.eclipse.eclipsemonkey"
            id="org.eclipse.eclipsemonkey.addEclipsePluginNature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.eclipsemonkey.addEclipsePluginNature"
            class="org.eclipse.eclipsemonkey.ui.handlers.AddEclipseMonkeyNature">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.eclipsemonkey.addEclipsePluginNature"
               id="org.eclipse.eclipsemonkey.addEclipsePluginNature"
               label="Add eclipse monkey nature"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
